html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#topleft { background: red; }
#topright { background: green; }
#bottomleft { background: blue; }
#bottomright {
	/*border: 1px solid black;*/
	background: yellow;
}
.appliance {
	text-align: center;
}

.menuitems {
	font-size: 24pt;
	margin-left: 40px;
}